<!-- <app-rooms></app-rooms> -->

<!-- <app-container>
    <app-rooms></app-rooms>
    <app-employee></app-employee>
    <h1>This is from ng-content</h1>
</app-container> -->

<!-- <a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a>

<router-outlet></router-outlet> -->

<app-app-nav></app-app-nav>

<!-- <div #name>
    
</div>  -->

<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'Admin'">
        Welcome Admin!

    </div>
    <div *ngSwitchCase="'User'">Welcome User!</div>
    <div *ngSwitchDefault>You are not authorized to view this page!</div>
</div> -->

<!-- <div>
    <ng-template #user></ng-template>
</div> load component dynamically -->