<form>
  <div class="form-group">
    <label for="email">Email:</label>
    <input
      appHover
      appEmailvalidator
      #emailControl="ngModel"
      backgroundcolor="chocolate"
      type="email"
      class="form-control"
      name="email"
      id="email"
      [(ngModel)]="email"
      placeholder="Provide your username"
    />
  </div>
  <div>
    {{ emailControl.errors | json }}
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input
      appHover
      backgroundcolor="chocolate"
      type="password"
      class="form-control"
      name="password"
      id="password"
      [(ngModel)]="password"
      placeholder="Enter your password"
    />
  </div>

  <div class="form-group">
    <button class="btn btn-primary" (click)="Login()">Login</button>
  </div>
</form>
