.form-group{
    /* width: 90%; */
    margin: 2px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.form-control{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.btn{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:rgb(29, 29, 215);
    color: white;
    cursor: pointer;
}


.btn:disabled{
    background-color: rgb(134, 134, 238);
    color: white;
    /* cursor: not-allowed; */
}

.alert-success{
    padding: 10px;
    background-color: rgb(124, 177, 193);
}

.alert-danger{
    color: red;
}